<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N.Praveen</title>
</head>
<body>

  <main> <h4 style="text-align: center;color: rgb(179, 179, 46);">Hi 👋 I am Praveen. </h4> 
  
  <p style="color: red;font-size: 0.7em;text-align: center;">** TLC/Platelets-(cells/cu.mm)</p>

  <!--Table showing Data-->
  <table mat-table
       [dataSource]="dataSource" 
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">

  <ng-container matColumnDef="Date" >
    <th mat-header-cell cdkDrag *matHeaderCellDef > Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>

  <ng-container matColumnDef="Hb">
    <th mat-header-cell cdkDrag *matHeaderCellDef> Hb (g/dL) </th>
    <td mat-cell *matCellDef="let element"> {{element.Hb}} </td>
  </ng-container>

  <ng-container matColumnDef="TLC">
    <th mat-header-cell cdkDrag *matHeaderCellDef> TLC  </th>
    <td mat-cell *matCellDef="let element"> {{element.TLC}} </td>
  </ng-container>

  <ng-container matColumnDef="Platelets">
    <th mat-header-cell cdkDrag *matHeaderCellDef> Platelets </th>
    <td mat-cell *matCellDef="let element"> {{element.Platelets}} </td>
  </ng-container>

  <ng-container matColumnDef="btn">
    <th mat-header-cell cdkDrag *matHeaderCellDef> More </th>
    <td mat-cell *matCellDef="let element">  <button style="background-color: transparent;border: 0px;vertical-align: middle;" (click)="btnClicked(element.btn)"> <mat-icon style="color: blue;">add_box</mat-icon></button>
     </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  
</table>

 <div *ngIf="buttonClicked">
  <img src={{buttonClick}} alt="Report Not available" style="width: 100%;">
</div>



  
  
  </main>
 
</body>
</html>