<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>N.Praveen</title>
</head>
<body>

  <main> 
    <div style="text-align: center;">
       
      <p>Hi 👋 I am N.Praveen. <br> </p>
      <article style="font-size: 0.5em;margin-top: -10px;"> ( This is my personal BloodTestsData website ) </article>

    </div>
  

  <!--Table showing Data-->
  <p style="color: black;text-decoration: underline;margin-left: 2%;font-size: 0.7em;text-underline-position: under;">Year : 2021</p>
  <table mat-table
       [dataSource]="dataSource" 
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">

  <ng-container matColumnDef="Date" >
    <th mat-header-cell cdkDrag *matHeaderCellDef > Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>

  <ng-container matColumnDef="Hb">
    <th mat-header-cell cdkDrag *matHeaderCellDef> Hb (g/dL) </th>
    <td mat-cell *matCellDef="let element"> {{element.Hb}} </td>
  </ng-container>

  <ng-container matColumnDef="TLC">
    <th mat-header-cell cdkDrag *matHeaderCellDef> TLC  </th>
    <td mat-cell *matCellDef="let element"> {{element.TLC}} </td>
  </ng-container>

  <ng-container matColumnDef="Platelets">
    <th mat-header-cell cdkDrag *matHeaderCellDef> Platelets </th>
    <td mat-cell *matCellDef="let element"> {{element.Platelets}} </td>
  </ng-container>

  <ng-container matColumnDef="btn">
    <th mat-header-cell cdkDrag *matHeaderCellDef> More </th>
    <td mat-cell *matCellDef="let element">  <button style="background-color: transparent;border: 0px;vertical-align: middle;" (click)="btnClicked(element.btn)"> <mat-icon style="color: blue;" id="btn">add_box</mat-icon></button>
     </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  
</table>
<p style="color: red;font-size: 0.7em;text-align: center;">** TLC/Platelets-(cells/cu.mm)</p>

<br>


 <div *ngIf="buttonClicked">
  <h5 style="color: brown;text-align: center;width: 99%;">Blood Test Report:</h5>
 
  
  <img src={{buttonClick}} alt="Report Not available" style="width: 100%;">


</div>



  
  
  </main>
 
</body>
</html>