<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="overflow: auto;">
  
  <div style="text-align: center;font-size: large;color: red;margin-top: 20px;">
    <b>  ❤️My Blood Tests Data </b>
  </div>
<br>

  <div *ngFor = "let i of data" >
    

      <mat-accordion   >    
        <mat-expansion-panel (opened)="opened()"
                             (closed)="closed()">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: green;">
              {{i.Date}}
            </mat-panel-title>
            <mat-panel-description style="color: green;">
             Open
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img *ngIf="loading" src="assets/load.gif" alt="loading" class="load" />
          <img [hidden]="loading" (load)="onLoad()" src={{i.image}} alt="Report Not available" style="width: 100%;overflow:hidden">
        </mat-expansion-panel>
      </mat-accordion>
 
    
  </div>
</body>
</html>